.product-thumb-overlay {
    width: 300px;
    /* Set your desired width */
    height: 300px;
    /* Set your desired height */
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
    overflow: hidden;
    /* Hide any overflow content */
    box-sizing: border-box;
    /* Include padding and border in the size */
}

.elementor-heading-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 600 !important;
}

@media screen and (max-width: 768px) {
    .elementor-element.elementor-element-ee89094 .elementor-heading-title {
        font-weight: 700 !important;
    }
}

.elementor-element.elementor-element-efc34fb .elementor-heading-title {

    font-weight: 600 !important;
    font-size: 45px !important;
}

.elementor-icon-box-icon {
    display: flex;
    justify-content: center;
}

.elementor-icon-box-icon img {
    width: 70px;
}

.elementor-icon-box-content p {
    font-weight: 600 !important;
    font-family: 'Nunito', sans-serif !important;
}

.wdt-elementor-container-fluid {
    max-width: 1200px;
    margin: 0 auto;

}

.d-block {
    display: block;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Giới hạn tối đa 3 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

body {
    background: linear-gradient(0deg, #e8a6af, #ffdde1);
}

.text-center {
    text-align: center;
}

.slide-banners .slick-arrow {
    display: none !important;
}

.justify {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .logo {
        height: 100%;
        line-height: 60px;
        font-size: 22px!important;
    }

    h2.elementor-heading-title {
        text-align: center;
        width: 100%;
    }

    .elementor-2632 .elementor-element.elementor-element-efc34fb .elementor-heading-title {
        font-family: 'Nunito', sans-serif;
        font-size: 25px !important;
    }

    .elementor-16 .elementor-element.elementor-element-16ca706>.elementor-widget-container,
    .elementor-widget:not(:last-child) {
        margin: 0px !important;
        padding: 0px !important;
    }


    header.elementor-widget-container {
        text-align: justify !important;
    }
}

#content {
    font-family: 'Nunito', sans-serif;
}

#content p,
#content li,
#content span {
    font-size: 16px;
    line-height: 32px;
}

#content h2 {
    font-size: 28px;
}

#content h3 {
    font-size: 25px;
}

#content h4 {
    font-size: 20px;
}

.elementor-element-35535b0 {
    margin-top: 0 !important;
}

.slide-banners .block-item {
    position: relative;
}

.elementor-container.position-relative {
    position: relative;
}

.banner-content {
    position: absolute;
    /* thêm dòng này */
    left: 50%;
    top: 50%;
    padding: 20px 15px;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: black;
}

.banner-content h2 , .banner-content h1, .banner-content .title_banner{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.title-h3 {
    font-size: 28px;
}

.btn--bordered.btn--white {
    border-color: #fff;
    color: #fff;
    box-shadow: none;
}

.btn--bordered.btn--white:active,
.btn--bordered.btn--white:focus,
.btn--bordered.btn--white:hover {
    color: #c59d5f;
    background-color: #e3dede;
    border-color: #fff;
}

.banner-content {

    color: white;
}

.banner-content p {
    font-size: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* màu đen mờ */
    z-index: 1;
}

.cta-button {
    display: inline-block;
    box-shadow: none;
    text-decoration: none;
    padding: 10px 20px;
    border: 0.5px solid #c5c5c5;
    border-radius: 5px;
}


.title-recomend {
    font-size: 20px;
}

#list-recomend {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#list-recomend li img {
    max-width: 50px;
}

#list-recomend li {
    padding: 0px 10px;
    display: flex;

}

#list-recomend li a {
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .banner-content {
        width: 100% !important;
        padding: 0 10px;
    }

    #list-recomend li {
        width: 100%;
        margin: 10px 0px;
    }

    #content_block_1 .elementor-widget-wrap.elementor-element-populated {
        padding: 0px 25px;

    }

    .elementor-icon-box-wrapper {
        width: 50%;
        text-align: center;
    }
}

.p-2 {
    padding: 8px;
}

.p-3 {
    padding: 16px;
}

.box-address {
    position: relative;
    display: block;
}

.inner-box {
    padding: 10px;
}

.elementor-2632 .elementor-element.elementor-element-164478d>.elementor-widget-container {
    margin: 0;
}

.text-xl {
    font-size: 1.25rem;
}

.font-semibold {
    font-weight: 600;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.box-item {
    border: 2px solid #fcca2c;
    padding: 2.5rem;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    max-width: 550px;
    margin: 0 auto;
    margin-top: -30px;

    position: relative;
}

.box-item:before {
    content: "";
    border-bottom-color: #fecb2e;
    border-color: #00000000;
    border-right-width: 8px;
    border-left-width: 8px;
    border-bottom-width: 8px;
    display: block;
    z-index: 10;
    left: 50%;
    top: -7px;
    position: absolute;
}

.box-item:after {
    content: '';
    border-right-width: 8px;
    border-left-width: 8px;
    border-bottom-width: 8px;
    display: block;
    left: 50%;
    top: -10px;
    position: absolute;
    border-color: #00000000;
    border-bottom-color: #fecb2e;
}


.box-item strong {

    display: block;
    margin: 10px
}

.box-item span {
    display: block;
}

.slide-banners .block-item.slick-slide.slick-current {
    height: 400px;
    overflow: hidden;
    width: 100%;
}

.slide-banners .block-item .elementor-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide-banners .block-item .elementor-container img {

    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    position: absolute;
}

.sliders-photo {
    margin: 10px 0px;
    height: 110px;
}

.box-map {
    height: 500px;
}

.elementor-padding {
    padding: 0 30px !important;
    margin-bottom: 30px !important;
}

.item-block {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.slick-track,
.slick-list.draggable {
    height: 100%;
}

.sliders-photo .slick-slide>div {
    gap: 1rem
}

@media (max-width: 992px) {
    .sliders-photo .slick-slide>div {
        grid-template-columns: repeat(7, minmax(0px, 1fr));
    }
}

.elementor-widget-wrap.elementor-element-populated {
    position: relative;
}

.elementor-element.elementor-widget__width-auto.wdt-custom-menu-style.elementor-widget.elementor-widget-wdt-header-menu {
    position: absolute;
    right: 5px;
    top: 15px;
}


.box-show-image-photo {
    position: relative;
    /* min-height: 440px; */
    padding-top: 40%;
    overflow: hidden;
    width: 100%;
}

.box-show-image-photo img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    position: absolute;
}

.item-block img {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#content_block_1 {
    display: flex;
    align-items: center;
}

/* Thứ tự mặc định trên mobile: col-2 trước */
.elementor-column-1 {
    order: 1;
}

.elementor-column-2 {
    order: 2;
}

.banner-box {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    /* chỉnh theo nhu cầu */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: white;
    text-align: center;
}

.banner-box .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    /* overlay màu đen mờ */
    z-index: 1;
}


.logo {
    width: 100%;
    max-width: 100%;
    height: 70px;
    font-size: 38px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.ti-stars {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ti-review-header {
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

img.ti-star {
    width: 12px;
    margin-right: 2px;
}

.ti-profile-details {
    padding-left: 10px;
}

.ti-widget.ti-goog .ti-widget-container .ti-name {
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    padding-right: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;
    margin-bottom: 2px;
}

.ti-widget.ti-goog .ti-review-item>.ti-inner {
    border-style: solid !important;
    border-color: #f4f4f4 !important;
    background: #f4f4f4 !important;
    border-radius: 4px !important;
    padding: 20px !important;
    margin: 10px !important;
    display: block;
    position: relative;
}


.slick-prev,
.slick-next {
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền */
    color: white;
    /* Màu icon */
    border-radius: 50% !important;
    /* Bo tròn */
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    /* Đảm bảo nút hiển thị trên cùng */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slick-prev,
.slick-next {
    font-size: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    /* Ẩn chữ nhưng vẫn hiển thị icon */
}

/* Nút Previous (Trái) */
.slick-prev {
    left: -10px;
    /* Điều chỉnh vị trí */
}

/* Nút Next (Phải) */
.slick-next {
    right: -10px;
}

/* Thêm icon FontAwesome 4 vào nút */
.slick-prev::before {
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 20px;
    position: absolute;
    top: 3px;
    left: 10px;
}

.slick-next::before {
    content: "\f105";
    /* Icon FontAwesome (fa-chevron-right) */
    font-family: "FontAwesome";
    font-size: 20px;
    position: absolute;
    top: 3px;
    left: 10px;
}

/* Hiệu ứng khi hover */
.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


@media screen and (max-width: 768px) {

    .slick-prev,
    .slick-next {
        width: 30px;
        height: 30px;
    }

    .slick-prev::before,
    .slick-next::before {
        font-size: 16px;
    }
}

.safe-svg-cover {
    text-align: center
}

.safe-svg-cover .safe-svg-inside {
    display: inline-block;
    max-width: 100%
}

.safe-svg-cover svg {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%
}

h1 {
    font-size: 50px;
    margin: 10px 0px;
}

.slide-banners {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slide-banners.slick-initialized {
    visibility: visible;
    opacity: 1;
}


.banner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.slick-slide img {
    height: 100%;
}

.banner-box {
    position: relative;
    overflow: hidden;
}

#time_open table {
    width: 100%;
}

#time_open table ul {
    margin-left: 20px;
}

#time_open h3 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

#time_open table ul li {
    white-space: nowrap;
}

@media (max-width: 768px) {
    .banner-content h2 {
        font-size: 30px;
    }

    .logo {
        height: 60px;
    }

    #content_block_1 {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    #content_block_1 .elementor-column {
        padding: 10px 20px;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background: #fff;
        /* hoặc màu nền phù hợp */
    }

    .homebanners {
        margin-top: 60px;
    }

    .elementor-column-2 {
        order: 1 !important;
    }

    .elementor-16 .elementor-element.elementor-element-8b5cf9e,
    .elementor-2632 .elementor-element.elementor-element-7ea6c594>.elementor-element-populated {
        padding: 0 !important;
    }

    .elementor-16 .elementor-element.elementor-element-179032a {
        width: 60% !important;
    }

    .elementor-16 .elementor-element.elementor-element-c3bec27 {
        width: 10% !important;
    }

    .elementor-2632 .elementor-element.elementor-element-7ea6c594 {
        width: 100% !important;
    }

    .box-item {
        margin-top: 10px;
    }

    .auto-container {
        padding: 0 20px;
    }

    .elementor-2632 .elementor-element.elementor-element-4af265a>.elementor-element-populated {
        padding: 0;
    }

    .elementor-2632 .elementor-element.elementor-element-d820221>.elementor-element-populated {
        margin: 0 0 30px 0;
    }

    .elementor-2632 .elementor-element.elementor-element-17aa2697>.elementor-element-populated {
        margin: 0;
    }

    .box-map {
        height: 300px;
    }

    .sliders-photo .slick-slide>div {
        grid-template-columns: repeat(5, minmax(0px, 1fr));
    }

    .sliders-photo {
        margin: 10px 0px;
        height: 80px;
    }

    .elementor-2632 .elementor-element.elementor-element-3098152>.elementor-element-populated,
    .elementor-2632 .elementor-element.elementor-element-164478d>.elementor-widget-container,
    .elementor-2632 .elementor-element.elementor-element-c7f87b6>.elementor-widget-container {
        padding: 0;
        margin: 0;
    }

    .elementor-2632 .elementor-element.elementor-element-c7f87b6 img {
        width: 100%;
    }

    .wdt-custom-banner-border .elementor-widget-container {
        display: none;
    }

    h1.elementor-heading-title {
        font-size: 27px !important;
    }

    h2.elementor-heading-title {
        font-size: 24px !important;
    }

    .elementor-element.elementor-widget__width-auto.wdt-custom-menu-style.elementor-widget.elementor-widget-wdt-header-menu {
        width: 25px;
    }

    .box-show-image-photo {
        padding-top: 80%;
    }

    .elementor-column.elementor-col-100.elementor-top-column.elementor-element.elementor-element-3098152 {
        margin-top: 50px;
    }

    .banner-content p {
        font-size: 30px;
    }

    .elementor-col-50.ele-header {
        width: 90%;
    }
}

.show_mobi {
    display: none;
}

@media screen and (max-width: 768px) {
    .show_mobi.show {
        display: block;
    }

    .container-mobile,
    .container-mobile a {
        height: 60px;
    }

    a.show_mobi.show-scroll {
        display: flex;
        align-content: center;
        padding-left: 10px;
    }
}

.mobile-menu.nav-is-visible {
    display: block;
    opacity: 1;
    left: -25% !important;
}

.elementor-icon {
    width: 70px;
    height: 70px;
}

#content table {
    width: 100%;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
    font-size: 16px;
    color: #333;
}

#content table th,
#content table td {
    border: 1px solid #989898;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

#content table thead {
    font-weight: 600;
}

#content table td:nth-child(2) {
    white-space: nowrap;
}

#content ul,
#content ol {
    padding-left: 20px;
}